<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="container" style="text-align: center;">

        {% include 'navbar.html' %}

        <h1>
            About our Page
        </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel impedit, amet delectus illo nihil excepturi necessitatibus est commodi beatae. Autem aut voluptatum voluptatem ab quibusdam accusantium fuga, expedita minima unde perspiciatis, porro pariatur nihil aspernatur eaque, distinctio nobis amet at eveniet minus cum omnis optio assumenda incidunt. Aliquam, laboriosam natus?</p>
        <button>
            Contact us
        </button>
    </div>
</body>
</html>